# アプリケーション全体のデフォルトオーナー（個人）
* @shomakobayashi

# バックエンドコードのオーナー（チーム）
apps/backend/ @test-user-backend

# フロントエンドコードのオーナー
apps/frontend/ @codeowners-test/frontend-team

# インフラ関連のコードはインフラチームが担当
apps/infrastructure/ @codeowners-test/infrastructure-team
